# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Logs and local environment
*.log
.env
.env.*

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
*.egg-info/
.installed.cfg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Docker
*.pid
*.sqlite3




